body {
  margin: 0;
  padding: 0;
  background: #14495e;
}

.eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.eye {
  width: 240px;
  height: 120px;
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.ball {
  width: 80px;
  height: 80px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
h1 {
    color: white; /* Set text color to white */
    position: absolute;
    top: 10%; /* Adjust the value to position your headline */
    left: 50%;
    transform: translateX(-50%); /* Center the element horizontally */
    text-align: center; /* Ensure the text inside the h1 is centered */
    width: 100%; /* Set the width to full container width */
    font-size: 2em; /* Optional: adjust size as needed */
    text-shadow: 2px 2px 4px #000000; /* Text shadow for better readability */
}
